venv/*
.idea/*
unit_3/lesson_18/presentation/game/.idea/*
unit_3/lesson_18/presentation/game/__pycache__/*
unit_3/lesson_18/presentation/library/.idea/*
unit_3/lesson_18/presentation/library/__pycache__/*






