unit_4/lesson_26/venv/*
venv/*
.idea/*
unit_3/lesson_18/presentation/game/.idea/*
unit_3/lesson_18/presentation/game/__pycache__/*
unit_3/lesson_18/presentation/library/.idea/*
unit_3/lesson_18/presentation/library/__pycache__/*
unit_3/lesson_18/presentation/game/__pycache__/*
unit_4/.idea/*
unit_4/lesson_26/presentation/pong_game/.idea/*
unit_4/lesson_26/presentation/pong_game/__pycache__/*
unit_4/unit_testing_4/arkanoid_game/.idea/*
unit_4/unit_testing_4/arkanoid_game/__pycache__/*
/bot/venv/*
bot/Pybot3/__pycache__/*
bot/Pybot3/.idea/*

